VITE_APPWRITE_ENDPOINT=""
VITE_APPWRITE_PROJECTID=""
VITE_APPWRITE_DATABASEID=""
VITE_APPWRITE_PRODUCTS_COLLECTIONID=""
VITE_APPWRITE_ORDERS_COLLECTIONID=""
VITE_APPWRITE_CUSTOMERS_COLLECTIONID=""
VITE_APPWRITE_LEDGERDUE_COLLECTIONID=""
VITE_APPWRITE_LEDGERSETTLEMENT_COLLECTIONID=""
VITE_RAZORPAY_KEY_ID=""